@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@theme {
  --color-primary: #7a4dfc;
  --color-secondary: #03010d;
  --color-orange: #ff9f87;
  --color-green: #7ceed0;
  --color-light-blue: #f0ebff;
  --color-light-orange: #ffefeb;
  --color-light-green: #e8fcf7;
  --color-light-yellow: #fffbeb;
}

body {
  background: #ffffff;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield;
}
